/* Converted to SCSS from original version: Thomas 24.12.2014 */
/* line 5, sass/chat_iparlo.scss */
#chatspace {
  /* background-color: black;*/
  background-color: #9172d5;
  border-left: 0;
  /* 1px solid #424242 */
}
/* line 10, sass/chat_iparlo.scss */
#chatspace * {
  -webkit-user-select: text;
  user-select: text;
}

/* line 16, sass/chat_iparlo.scss */
#chatconversation {
  visibility: hidden;
  position: relative;
  top: 5px;
  padding: 5px;
  text-align: left;
  line-height: 20px;
  font-size: 10pt;
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
}

/* line 31, sass/chat_iparlo.scss */
.localuser {
  color: #087dba;
}

/* line 35, sass/chat_iparlo.scss */
.errorMessage {
  color: red;
}

/* line 39, sass/chat_iparlo.scss */
.remoteuser {
  color: white;
}

/* line 43, sass/chat_iparlo.scss */
#usermsg {
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 83%;
  height: 30px;
  padding: 5px 5px 5px 0px;
  max-height: 150px;
  min-height: 35px;
  border: 0px none;
  background: #444B73;
  color: #ffffff;
  box-shadow: none;
  border-radius: 0;
  font-size: 10pt;
  line-height: 30px;
  overflow: hidden;
  resize: none;
}
/* line 62, sass/chat_iparlo.scss */
#usermsg:hover {
  border: 0px none;
  box-shadow: none;
}

/* line 68, sass/chat_iparlo.scss */
#nickname {
  position: absolute;
  text-align: center;
  color: #9d9d9d;
  font-size: 18px;
  top: 100px;
  left: 5px;
  right: 5px;
  width: 95%;
}

/* line 79, sass/chat_iparlo.scss */
#nickinput {
  margin-top: 20px;
  font-size: 14px;
  background: #3a3a3a;
  box-shadow: inset 0 0 3px 2px #a7a7a7;
  border: 1px solid #a7a7a7;
  color: #a7a7a7;
}

/* line 88, sass/chat_iparlo.scss */
#unreadMessages {
  font-size: 8px;
  position: absolute;
  left: 46%;
  top: 27%;
}

/* line 95, sass/chat_iparlo.scss */
#bottomUnreadMessages {
  top: 5px;
  left: 10px;
  position: absolute;
  font-size: 8px;
}

/* line 103, sass/chat_iparlo.scss */
#chatspace .username {
  float: left;
  padding-left: 5px;
  font-weight: bold;
}
/* line 108, sass/chat_iparlo.scss */
#chatspace .timestamp {
  float: right;
  padding-right: 5px;
  font-size: 11px;
}
/* line 113, sass/chat_iparlo.scss */
#chatspace .usermessage {
  padding-top: 20px;
  padding-left: 5px;
}

/* line 119, sass/chat_iparlo.scss */
.chatArrow {
  position: absolute;
  height: 15px;
  left: 5px;
}

/* line 125, sass/chat_iparlo.scss */
.chatmessage {
  background: #3a3a3a;
  width: 93%;
  margin-left: 5%;
  margin-right: auto;
  border-radius: 5px;
  border-top-left-radius: 0px;
  margin-top: 3px;
  left: 5px;
  color: #a7a7a7;
  overflow: hidden;
  padding-bottom: 3px;
}

/* line 139, sass/chat_iparlo.scss */
.smiley {
  height: 26px;
}

/* line 143, sass/chat_iparlo.scss */
#smileys {
  position: absolute;
  bottom: 7px;
  right: 5px;
  background: white;
  border-radius: 50px;
  height: 26px;
  margin: auto;
  cursor: pointer;
}
/* line 152, sass/chat_iparlo.scss */
#smileys img {
  width: 22px;
  padding: 2px;
}

/* line 158, sass/chat_iparlo.scss */
#smileysarea {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 17%;
  min-width: 31px;
  height: 40px;
  padding: 0px;
  max-height: 150px;
  min-height: 35px;
  border: 0px none;
  background: #444B73;
  overflow: hidden;
  visibility: hidden;
}

/* line 174, sass/chat_iparlo.scss */
#smileysContainer {
  display: none;
  position: absolute;
  background: #444B73;
  border-bottom: 1px solid;
  border-top: 1px solid;
  width: 100%;
  bottom: 10%;
}
/* line 182, sass/chat_iparlo.scss */
#smileysContainer .smiley {
  padding: 7px;
}

/* line 187, sass/chat_iparlo.scss */
.smileyContainer {
  width: 40px;
  height: 40px;
  display: inline-block;
}
/* line 191, sass/chat_iparlo.scss */
.smileyContainer:hover {
  background: #444B73;
}

/* line 196, sass/chat_iparlo.scss */
#usermsg::-webkit-input-placeholder {
  line-height: 30px;
}

/* line 201, sass/chat_iparlo.scss */
#chatconversation::-webkit-scrollbar {
  background: #9172d5;
  width: 7px;
}
/* line 205, sass/chat_iparlo.scss */
#chatconversation::-webkit-scrollbar-button {
  display: none;
}
/* line 208, sass/chat_iparlo.scss */
#chatconversation::-webkit-scrollbar-track, #chatconversation::-webkit-scrollbar-track-piece {
  background: #9172d5;
}
/* line 211, sass/chat_iparlo.scss */
#chatconversation::-webkit-scrollbar-thumb {
  background: #06A5DF;
  border-radius: 4px;
}

/* line 218, sass/chat_iparlo.scss */
#usermsg::-webkit-scrollbar-track, #usermsg::-webkit-scrollbar-track-piece {
  background: #444B73;
}
/* line 221, sass/chat_iparlo.scss */
#usermsg::-webkit-scrollbar-thumb {
  background: #06A5DF;
}

/* line 226, sass/chat_iparlo.scss */
a:link {
  color: #b8b8b8;
}

/* line 230, sass/chat_iparlo.scss */
a:visited {
  color: white;
}

/* line 234, sass/chat_iparlo.scss */
a:hover {
  color: #d5d5d5;
}

/* line 238, sass/chat_iparlo.scss */
a:active {
  color: black;
}
