/* Converted to SCSS from original version: Thomas 24.12.2014 */
/* line 4, sass/videolayout_iparlo.scss */
#videospace {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}

/* line 13, sass/videolayout_iparlo.scss */
#remoteVideos {
  display: block;
  position: absolute;
  text-align: right;
  height: 196px;
  padding: 18px;
  bottom: 0;
  left: 0;
  right: 0px;
  width: auto;
  background: rgba(145, 114, 213, 0.5);
  border: 1px solid transparent;
  z-index: 5;
  transition: bottom 2s;
  overflow: visible !important;
}

/* line 30, sass/videolayout_iparlo.scss */
#remotevideos.hidden {
  bottom: -196px;
}

/* line 34, sass/videolayout_iparlo.scss */
.videocontainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/* line 40, sass/videolayout_iparlo.scss */
#remoteVideos .videocontainer {
  display: inline-block;
  background-image: url(../images/avatar1.png);
  background-size: contain;
  border-radius: 8px;
  border: 2px solid #212425;
  margin-right: 3px;
}
/* line 47, sass/videolayout_iparlo.scss */
#remoteVideos .videocontainer:hover, #remoteVideos .videocontainer.videoContainerFocused {
  width: 100%;
  height: 100%;
  content: "";
  cursor: pointer;
  cursor: hand;
  /* transform:scale(1.08, 1.08);
  -webkit-transform:scale(1.08, 1.08); */
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -webkit-animation-name: greyPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  overflow: visible !important;
}
/* line 62, sass/videolayout_iparlo.scss */
#remoteVideos .videocontainer:hover {
  -webkit-box-shadow: inset 0 0 10px #FFFFFF, 0 0 10px #FFFFFF;
  border: 2px solid #FFFFFF;
}
/* line 66, sass/videolayout_iparlo.scss */
#remoteVideos .videocontainer.videoContainerFocused {
  -webkit-box-shadow: inset 0 0 28px #006d91;
  border: 2px solid #006d91;
}
/* line 69, sass/videolayout_iparlo.scss */
#remoteVideos .videocontainer.videoContainerFocused:hover {
  -webkit-box-shadow: inset 0 0 5px white, 0 0 10px white, inset 0 0 60px #006d91;
  border: 2px solid #FFFFFF;
}

/* line 76, sass/videolayout_iparlo.scss */
#localVideoWrapper {
  display: inline-block;
  -webkit-mask-box-image: url(../images/videomask.svg);
  border-radius: 0px !important;
  border: 0px !important;
}

/* line 83, sass/videolayout_iparlo.scss */
#remoteVideos .videocontainer > video {
  border-radius: 4px;
}

/* line 87, sass/videolayout_iparlo.scss */
#localMute {
  position: absolute;
  display: block;
  bottom: 0;
  left: -38px;
  line-height: 25px;
  height: auto;
  width: 32px;
  border-radius: 6px;
  color: #FFF;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(60, 63, 113, 0.7);
  color: #fff;
  font-size: 0.85em;
  text-align: center;
  padding-top: 2px;
  content: "";
  cursor: pointer;
  cursor: hand;
  opacity: 1;
  z-index: 3;
}
/* line 109, sass/videolayout_iparlo.scss */
#localMute .localOptions_span > span {
  display: inline-block;
  position: absolute;
  font-size: 7pt;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
/* line 117, sass/videolayout_iparlo.scss */
#localMute .localOptions_span .optionMuteButton {
  display: inline-block;
  position: relative;
  color: #FFFFFF;
  top: 0;
  padding-top: 6px;
  padding-right: 2px;
  margin: 2px;
  width: 25px;
  height: 20px;
  cursor: pointer;
  font-size: 9pt;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.7);
  z-index: 5;
}

/* line 136, sass/videolayout_iparlo.scss */
.flipVideoX {
  transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
}

/* line 143, sass/videolayout_iparlo.scss */
#localVideoWrapper > video {
  border-radius: 0px !important;
}

/* line 147, sass/videolayout_iparlo.scss */
#largeVideo, #largeVideoContainer {
  overflow: hidden;
  text-align: center;
}

/* line 152, sass/videolayout_iparlo.scss */
#presentation, #etherpad {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

/* line 161, sass/videolayout_iparlo.scss */
#localVideoWrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
/* line 162, sass/videolayout_iparlo.scss */
#localVideoWrapper > video {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

/* line 178, sass/videolayout_iparlo.scss */
.videocontainer > video {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

/* line 187, sass/videolayout_iparlo.scss */
.dominantspeaker {
  background: #000 !important;
}

/* line 191, sass/videolayout_iparlo.scss */
#etherpad, #presentation {
  text-align: center;
}

/* line 195, sass/videolayout_iparlo.scss */
#etherpad {
  z-index: 0;
}

/* line 199, sass/videolayout_iparlo.scss */
#etherpadButton {
  display: none;
}

/* line 205, sass/videolayout_iparlo.scss */
#remoteVideos .videocontainer > span.focusindicator, #remoteVideos .videocontainer > span.remotevideomenu {
  display: inline-block;
  position: absolute;
  color: #FFFFFF;
  top: 0;
  left: 0;
  padding: 5px 0px;
  width: 25px;
  font-size: 11pt;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
  border: 0px;
  z-index: 2;
  text-align: center;
}
/* line 220, sass/videolayout_iparlo.scss */
#remoteVideos .nick {
  display: none;
  /* enable when you want nicks to be shown */
  position: absolute;
  left: 0px;
  bottom: -20px;
  z-index: 0;
  width: 100%;
  font-size: 10pt;
}

/* line 233, sass/videolayout_iparlo.scss */
.videocontainer > span.displayname, .videocontainer > input.displayname {
  display: none;
  position: absolute;
  color: #FFFFFF;
  background: rgba(68, 75, 115, 0.7);
  text-align: center;
  text-overflow: ellipsis;
  width: 70%;
  height: 20%;
  left: 15%;
  top: 40%;
  padding: 5px;
  font-size: 10pt;
  overflow: hidden;
  white-space: nowrap;
  z-index: 2;
  border-radius: 20px;
}
/* line 251, sass/videolayout_iparlo.scss */
.videocontainer > span.status {
  display: inline-block;
  position: absolute;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  text-overflow: ellipsis;
  width: 70%;
  height: 15%;
  left: 15%;
  bottom: 2%;
  padding: 5px;
  font-size: 10pt;
  overflow: hidden;
  white-space: nowrap;
  z-index: 2;
  border-radius: 20px;
}

/* line 271, sass/videolayout_iparlo.scss */
.connectionindicator {
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 0;
  padding: 0px 5px;
  z-index: 6;
  width: 18px;
  height: 13px;
}

/* line 282, sass/videolayout_iparlo.scss */
.connection {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 8pt;
  border: 0px;
  width: 18px;
  height: 13px;
}
/* line 283, sass/videolayout_iparlo.scss */
.connection.connection_empty {
  color: #8B8B8B;
  /*#FFFFFF*/
  overflow: hidden;
}
/* line 288, sass/videolayout_iparlo.scss */
.connection.connection_full {
  color: #FFFFFF;
  /*#15A1ED*/
  overflow: hidden;
}

/* line 302, sass/videolayout_iparlo.scss */
.connection_info {
  float: left;
  padding-bottom: 5px;
  text-align: left;
  font-size: 11px;
  color: #ffffff;
}
/* line 305, sass/videolayout_iparlo.scss */
.connection_info > table {
  white-space: nowrap;
  text-align: left;
  font-size: 11px;
  color: #ffffff;
}

/* line 317, sass/videolayout_iparlo.scss */
#localVideoContainer > span.status:hover, #localVideoContainer > span.displayname:hover {
  cursor: text;
}

/* line 324, sass/videolayout_iparlo.scss */
.videocontainer > span.status, .videocontainer > span.displayname {
  pointer-events: none;
}
/* line 328, sass/videolayout_iparlo.scss */
.videocontainer > input.displayname {
  height: auto;
}

/* line 333, sass/videolayout_iparlo.scss */
#localDisplayName {
  pointer-events: auto !important;
}

/* line 339, sass/videolayout_iparlo.scss */
.videocontainer > a.status, .videocontainer > a.displayname {
  display: inline-block;
  position: absolute;
  color: #FFFFFF;
  bottom: 0;
  right: 0;
  padding: 3px 5px;
  font-size: 9pt;
  cursor: pointer;
  z-index: 2;
}
/* line 352, sass/videolayout_iparlo.scss */
.videocontainer > span.audioMuted {
  display: inline-block;
  position: absolute;
  color: #FFFFFF;
  top: 0;
  padding: 8px 5px;
  width: 25px;
  font-size: 8pt;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
  border: 0px;
  z-index: 6;
  text-align: center;
}
/* line 365, sass/videolayout_iparlo.scss */
.videocontainer > span.videoMuted {
  display: inline-block;
  position: absolute;
  color: #FFFFFF;
  top: 0;
  right: 0;
  padding: 8px 5px;
  width: 25px;
  font-size: 8pt;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
  border: 0px;
  z-index: 6;
}

/* line 382, sass/videolayout_iparlo.scss */
#reloadPresentation {
  display: none;
  position: absolute;
  color: #FFFFFF;
  top: 0;
  right: 0;
  padding: 10px 10px;
  font-size: 11pt;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  z-index: 20;
  /*The reload button should appear on top of the header!*/
}

/* line 399, sass/videolayout_iparlo.scss */
#header {
  display: none;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
}

/* line 410, sass/videolayout_iparlo.scss */
#toolbar {
  display: inline-block;
  position: relative;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2px;
  padding-right: 2px;
  height: 38px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  pointer-events: auto;
}

/* line 426, sass/videolayout_iparlo.scss */
#subject {
  position: relative;
  z-index: 3;
  width: auto;
  padding: 5px;
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.35));
  -webkit-box-shadow: 0 0 2px #000000, 0 0 10px #000000;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: none;
}

/* line 441, sass/videolayout_iparlo.scss */
.audiolevel {
  display: inline-block;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
  pointer-events: none;
}

/* line 449, sass/videolayout_iparlo.scss */
#activeSpeaker {
  visibility: hidden;
  width: 150px;
  height: 150px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

/* line 458, sass/videolayout_iparlo.scss */
#activeSpeakerAudioLevel {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  visibility: inherit;
}

/* line 466, sass/videolayout_iparlo.scss */
#mixedstream {
  display: none !important;
}

/* line 470, sass/videolayout_iparlo.scss */
#activeSpeakerAvatar {
  width: 100px;
  height: 100px;
  top: 25px;
  margin: auto;
  position: relative;
  border-radius: 50px;
  z-index: 2;
  visibility: inherit;
}

/* line 481, sass/videolayout_iparlo.scss */
.userAvatar {
  height: 100%;
  position: absolute;
  left: 35px;
  border-radius: 200px;
}
