// fonts
$font-stack:    "Raleway", Helvetica, sans-serif;

//colors
$main_purple:  #9172d5;
$main_purple_rgb:  rgb(145, 114, 213);

$main_blue:  #444B73;
$main_blue_rgb: rgb(68, 75, 115);



$chat_background:  #dfebf1;